NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBxLWskdeCdcqB3vtgKDfP5yeUVcw6X0D0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=portfolio-12721.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=portfolio-12721
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=portfolio-12721.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=915219490247
NEXT_PUBLIC_FIREBASE_APP_ID=1:915219490247:web:5f2ae6869f2204c5c725e2
